<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/listaProductos.css"> 
    <title>Document</title>
</head>
<body>
    <a href="../index.html">volver</a>
    <div class="container">
        <h3>Producto 1</h3>
        <h3>Producto 2</h3>
        <h3>Producto 3</h3>
        <h3>Producto 4</h3>
        <h3>Producto 5</h3>
        <h3>Producto 6</h3>
        <h3>Producto 7</h3>
        <h3>Producto 8</h3>
    </div>
</body>
</html>