<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/todosProductos.css"> 
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <div class="container1_topleft">
            <div>
                <img src="../storage/img/book-stack.svg">
            </div>
            
            <div>
                <img src="../storage/img/book-stack.svg">
            </div>
            <div>
                <img src="../storage/img/book-stack.svg">
            </div>
            <div>
                <img src="../storage/img/book-stack.svg">
            </div>
        </div>
        <div class="container1_topRight">
            <div>
                <img src="../storage/img/camisetaPolo.webp">
            </div>
        </div>
        <div class="container1_botton">
            <h1>camiseta polo</h1>
            <div>
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit aliquid, culpa hic architecto cupiditate id repellat suscipit consectetur ex inventore omnis maiores animi vitae consequatur praesentium deleniti repellendus rerum!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci porro temporibus quae. Cum quo ex, perferendis corporis, aliquid ullam eaque dolorem id asperiores
            </p>
            <div class="container1_botton_prices">
                <h2>$ 100.000</h2>
                <small>$99.99</small>
            </div>
            <a href="detalles.html"><button>obtener</button></a>
        </div>
    </div>
    <div class="contenedor">
        <a href="../index.html">volver</a>
        <div class="container1_topRight">
            <div>
                <img src="../storage/img/camisetaPolo.webp">
            </div>
        </div>
        <div class="container1_botton">
            <h1>camiseta polo</h1>
            <div>
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
                <img src="../storage/img/book-stack.svg">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit aliquid, culpa hic architecto cupiditate id repellat suscipit consectetur ex inventore omnis maiores animi vitae consequatur praesentium deleniti repellendus rerum!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci porro temporibus quae. Cum quo ex, perferendis corporis, aliquid ullam eaque dolorem id asperiores
            </p>
            <div class="container1_botton_prices">
                <h2>$ 100.000</h2>
                <small>$99.99</small>
            </div>
            <div class="cantidad">
                <h4>cantidad</h4>
                <a href="detalles.html">agregar</a>
            </div>
        </div>
    </div>
    
</body>
</html>